doctype html
html
	head
		title= "Real time web chat"
		script(src='//code.jquery.com/jquery-1.11.0.min.js')
		script(src='https://cdn.socket.io/socket.io-1.0.6.js')
		script(src='/chat.js')
		script(src='js/handlebars-v1.3.0.js')
		script(type="text/x-handlebars-template",id="template_message")
			li
				strong{{#if username}} {{username}} {{else}} server {{/if}}		
				p{{message}}
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		#content(style='width: 500px; height: 300px; margin: 10px 10px 20px 10px; border: solid 1px #999; overflow-y: scroll;')
		.controls
			span(style='margin: 0 20px;') | Name:
			input#name(style='width:350px; margin:5px 20px;',type="text")
			br
			input#field(style='width:440px;margin:0 20px;',type="text")
			input#send.btn.btn-success(type='button', value='send')